<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> {{ accession }} </title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	{% block custom_css %}
	<style>
		:root {
			--bs-primary-rgb: 0, 108, 162;
		}
		body {
			font-family: Arial, sans-serif;
			font-size: 14px;
		}
		.heading {
			background-color: rgb(var(--bs-primary-rgb));
			color: white;
		}
	</style>
	{% endblock %}
</head>
<body>
	<div class="container-fluid mb-2 heading">
		<div class="row d-flex align-items-center">
			<div class="col-auto"><h1 class="fw-semibold lh-2"> {{ accession }} </h1></div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row d-flex align-items-start">
			<div class="col-6" style="max-height: 45vh; overflow-y: auto">
				{% if enzyme.databaseIds.get("uniprot", [None,])[0] is not none  %}
				<div>
					<p class="text-center">Visualization of <a target="_blank" href="https://alphafold.ebi.ac.uk/entry/{{ enzyme.databaseIds.get('uniprot')[0] }}">AlphaFold-predicted protein structure</a> (visualized by <a target="_blank" href="https://github.com/schrodinger/pymol-open-source">PyMol OS</a>)</p>
					<img class="img-fluid mx-auto d-block"  src="https://raw.githubusercontent.com/mite-standard/mite_data/main/img/{{ enzyme.databaseIds.get('uniprot')[0] }}.png" alt="Protein visualization">
				</div>
				{% else %}
				<img class="img-fluid mx-auto d-block" src="https://raw.githubusercontent.com/mite-standard/mite_data/main/img/None.png" alt="Placeholder for missing protein visualization">
				{% endif %}
			</div>
			<div class="col-6">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true"><b>General Information</b></button>
					</li>
					{% if enzyme.auxiliaryEnzymes is defined %}
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="auxenz-tab" data-bs-toggle="tab" data-bs-target="#auxenz" type="button" role="tab" aria-controls="auxenz" aria-selected="false"><b>Auxiliary Enzymes</b></button>
						</li>
					{% endif %}
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="changelog-tab" data-bs-toggle="tab" data-bs-target="#changelog" type="button" role="tab" aria-controls="changelog" aria-selected="false"><b>Changelog</b></button>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" style="max-height: 40vh; overflow-y: auto">
						<table class="table table-striped mt-3">
							<tbody>
								<tr>
									<td width="25%"><b>Accession ID</b></td>
									<td>{{ accession }}</td>
								</tr>
								<tr>
									<td width="25%"><b>Entry Status</b></td>
									<td>
										<ul class="list-unstyled mb-0">
											<li>Status: {{ status }}</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td width="25%"><b>Enzyme Name</b></td>
									<td>{{ enzyme.get("name") }}</td>
								</tr>
								<tr>
									<td width="25%"><b>Enzyme Description</b></td>
									<td>{{ enzyme.get("description") }}</td>
								</tr>
								<tr>
									<td width="25%"><b>Database References</b></td>
									<td>
										{% if enzyme.databaseIds is not none %}
											<ul class="list-unstyled mb-0">
											{% for key, value in enzyme.databaseIds.items() %}
												<li>{{ key }}: <a target="_blank" href="{{ value[1] }}">{{ value[0] }}</a></li>
											{% endfor %}
											</ul>
										{% else %}
											No database crosslinks available
										{% endif %}
									</td>
								</tr>
								<tr>
									<td width="25%"><b>References</b></td>
									<td>
										{% if enzyme.references is not none %}
											<ul class="mb-0">
											{% for row in enzyme.references %}
												<li><a target="_blank" href="{{ row[1] }}">{{ row[0] }}</a></li>
											{% endfor %}
											</ul>
										{% else %}
											No references available
										{% endif %}
									</td>
								</tr>
								{% if comment %}
									<tr>
										<td width="25%"><b>Comment</b></td>
										<td>{{ comment }}</td>
									</tr>
								{% endif %}
							</tbody>
						</table>
					</div>
					{% if enzyme.auxiliaryEnzymes is defined %}
					<div class="tab-pane fade" id="auxenz" role="tabpanel" aria-labelledby="auxenz-tab" style="max-height: 40vh; overflow-y: auto">
						{% for auxenzyme in enzyme.auxiliaryEnzymes %}
						<div class="my-2">
							<p><b>Auxiliary Enzyme #{{ loop.index }}</b></p>
						</div>
						<table class="table table-striped my-3">
							<tbody>
								<tr>
									<td width="25%"><b>Enzyme Name</b></td>
									<td>{{ auxenzyme.name }}</td>
								</tr>
								{% if auxenzyme.description is not none %}
								<tr>
									<td width="25%"><b>Description</b></td>
									<td>{{ auxenzyme.description }}</td>
								</tr>
								{% endif %}
								<tr>
									<td width="25%"><b>Database References</b></td>
									<td>
										{% if auxenzyme.databaseIds is not none %}
											<ul class="list-unstyled mb-0">
											{% for key, value in auxenzyme.databaseIds.items() %}
												<li>{{ key }}: <a target="_blank" href="{{ value[1] }}">{{ value[0] }}</a></li>
											{% endfor %}
											</ul>
										{% else %}
											No database crosslinks available
										{% endif %}
									</td>
								</tr>
							</tbody>
						</table>
						{% endfor %}
					</div>
					{% endif %}
					<div class="tab-pane fade" id="changelog" role="tabpanel" aria-labelledby="changelog-tab" style="max-height: 40vh; overflow-y: auto">
						{% for entry in changelog %}
							<div class="my-2">
								<p><b>Version {{ entry.version }} ({{ entry.date }})</b></p>
							</div>
						<table class="table table-striped my-3">
							<tbody>
								{% for row in entry.entries %}
								<tr>
									<td width="25%"><b>Change {{ loop.index }} ({{ row.date }})</b></td>
									<td>
										<table class="table table-striped">
											<tbody>
												<tr>
													<td width="20%"><b>Contributor(s)</b></td>
													<td>
														<ul class="list-unstyled mb-0">
															{% for curator in row.contributors %}
															<li>{{ curator }}</li>
															{% endfor %}
														</ul>
													</td>
												</tr>
												<tr>
													<td width="20%"><b>Reviewer(s)</b></td>
													<td>
														<ul class="list-unstyled mb-0">
															{% for reviewer in row.reviewers %}
															<li>{{ reviewer }}</li>
															{% endfor %}
														</ul>
													</td>
												</tr>
												<tr>
													<td width="20%"><b>Comment</b></td>
													<td>"{{ row.comment }}"</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row d-flex align-items-start my-2 ">
			<div class="col-auto">
				<h4>Known Reactions: <b>{{ reactions|length }}</b></h4>
			</div>
			<div class="col-auto">
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" style="background-color: rgb(var(--bs-primary-rgb)); border-color: rgb(var(--bs-primary-rgb));" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
						Select a reaction:
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						{% for reaction in reactions %}
						<li><a class="dropdown-item" href="#" data-bs-toggle="collapse" data-bs-target="#reaction-{{ loop.index }}">Reaction {{ loop.index }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="reactions-group">
		{% for reaction in reactions %}
		<div class="collapse {% if loop.index == 1 %}show{% endif %}" id="reaction-{{ loop.index }}" data-bs-parent="#reactions-group">
			<div class="card card-body">
				<h5>Reaction {{ loop.index }}</h5>
				<div class="container-fluid">
					<div class="row d-flex align-items-start">
						<div class="col-6">
							<ul class="nav nav-tabs" id="reactionNavTab-{{ loop.index }}" role="tablist">
								<li class="nav-item" role="presentation">
									<button class="nav-link active" id="reaction-tab-{{ loop.index }}" data-bs-toggle="tab" data-bs-target="#reaction-content-{{ loop.index }}" type="button" role="tab" aria-controls="reaction-content-{{ loop.index }}" aria-selected="true"><b>Reaction SMARTS</b></button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="info-tab-{{ loop.index }}" data-bs-toggle="tab" data-bs-target="#info-content-{{ loop.index }}" type="button" role="tab" aria-controls="info-content-{{ loop.index }}" aria-selected="false"><b>Reaction Information</b></button>
								</li>
							</ul>
							<div class="tab-content" id="reactionTabContent-{{ loop.index }}">
								<div class="tab-pane fade show active" id="reaction-content-{{ loop.index }}" role="tabpanel" aria-labelledby="reaction-content-{{ loop.index }}">
									<table class="table table-striped">
										<tbody>
											<tr>
												<td>
													<img class="img-fluid mx-auto d-block" src="data:image/svg+xml;base64,{{ reaction.reactionSMARTS.reactionSMARTS[1] }}" alt="reaction SMARTS">
													<div class="d-flex justify-content-center align-items-center">
														<button class="btn btn-light btn-sm" data-clipboard-text="{{ reaction.reactionSMARTS.reactionSMARTS[0] }}">Copy reaction SMARTS</button>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="tab-pane fade" id="info-content-{{ loop.index }}" role="tabpanel" aria-labelledby="info-content-{{ loop.index }}">
									<table class="table table-striped">
										<tbody>
											<tr>
												{% if reaction.description %}
													<td width="20%"><b>Description</b></td>
													<td>{{ reaction.description }}</td>
												{% endif %}
											</tr>
											<tr>
												<td width="20%"><b>Tailoring</b></td>
												<td>
													<ul class="list-unstyled mb-0">
														{% for tail in reaction.tailoring %}
															<li>{{ tail }}</li>
														{% endfor %}
													</ul>
												</td>
											</tr>
											<tr>
												<td width="25%"><b>Database References</b></td>
												<td>
													{% if reaction.get("databaseIds") is not none %}
														<ul class="list-unstyled mb-0">
														{% for key, value in reaction.databaseIds.items() %}
															{% for member in value %}
															<li><a target="_blank" href="{{ member[1] }}">{{ key }}: {{ member[0] }}</a></li>
															{% endfor %}
														{% endfor %}
														</ul>
													{% else %}
														No database crosslinks available
													{% endif %}
												</td>
											</tr>
											<tr>
												<td width="20%"><b>Evidence</b></td>
												<td>
													<ul class="list-unstyled mb-0">
														{% for code in reaction.evidenceCode %}
															<li>{{ code }}</li>
														{% endfor %}
													</ul>
												</td>
											</tr>
											<tr>
												<td width="25%"><b>References</b></td>
												<td>
													{% if reaction.references is not none %}
														<ul class="mb-0">
														{% for ref in reaction.references %}
															<li><a target="_blank" href="{{ ref[1] }}">{{ ref[0] }}</a></li>
														{% endfor %}
														</ul>
													{% else %}
														No references available
													{% endif %}
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="col-6">
							{% for exp_react in reaction.reactions %}
							<h5>Example {{ loop.index }}</h5>
							<table class="table table-striped">
								<tbody>
									<tr>
										<td width="15%"><b>Metadata</b></td>
										<td>
											<ul class="list-unstyled mb-0">
												{% if exp_react.description %}
												<li><b>Description:</b> {{ exp_react.description }}</li>
												{% else %}
												<li><b>Description:</b> No description available</li>
												{% endif %}
												<li><b>Intermediate:</b> {{ exp_react.isIntermediate }}</li>
											</ul>
										</td>
									</tr>
									<tr>
										<td width="15%"><b>Substrate</b></td>
										<td>
											<img class="img-fluid mx-auto d-block" src="data:image/svg+xml;base64,{{ exp_react.substrate[1] }}" alt="substrate SMILES">
											<div class="d-flex justify-content-center align-items-center">
												<button class="btn btn-light btn-sm" data-clipboard-text="{{ exp_react.substrate[0] }}">Copy SMILES</button>
											</div>
										</td>
									</tr>
									{% for product in exp_react.products %}
									<tr>
										<td width="15%"><b>Product {{ loop.index }}</b></td>
										<td>
											<img class="img-fluid mx-auto d-block" src="data:image/svg+xml;base64,{{ product[1] }}" alt="product SMILES">
											<div class="d-flex justify-content-center align-items-center">
												<button class="btn btn-light btn-sm" data-clipboard-text="{{ product[0] }}">Copy SMILES</button>
											</div>
										</td>
									</tr>
									{% endfor %}
									{% if exp_react.forbidden_products %}
										{% for forb_prod in exp_react.forbidden_products %}
										<tr>
											<td width="15%"><b>Forbidden Product {{ loop.index }}</b></td>
											<td>
												<img class="img-fluid mx-auto d-block" src="data:image/svg+xml;base64,{{ forb_prod[1] }}" alt="forbidden product SMILES">
												<div class="d-flex justify-content-center align-items-center">
													<button class="btn btn-light btn-sm" data-clipboard-text="{{ forb_prod[0] }}">Copy SMILES</button>
												</div>
											</td>
										</tr>
										{% endfor %}
									{% endif %}
								</tbody>
							</table>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"></script>
	<script>
		var clipboard = new ClipboardJS('.btn-light');
		clipboard.on('success', function(e) {
			 alert('Copied to clipboard!');
			 e.clearSelection();
		});
		clipboard.on('error', function(e) {
			 alert('Failed to copy text.');
		});
	</script>
</body>
</html>